body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.6;

    background-image: url("../imagens/fundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
